# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Mac OS X
.DS_Store

# Project
bin/*
!bin/libLeap.so
!bin/libLeap.dylib
!bin/libLeapx86.so